@charset "UTF-8";
/* CSS Document */
 body { overflow-x:hidden; 
	background-color:rgba(255,231,198,1.00); 
}
*{ 
margin: 0; 
padding: 0; 
}

h2{ 
	font-family: "Roboto Black", sans-serif; 
	font-size: 60pt; 
	letter-spacing: 1px; 
}
h3{ 
	font-family: 'Roboto Light', sans-serif; 
	font-size: 50pt; 
	font-weight: 100; 
}

h4 { 
	font-family: 'Roboto Black', sans-serif; 
	letter-spacing: 1px; 
	font-weight: 900;
}

h6{ 
	font-family: "Roboto Regular", sans-serif;
	font-style: italic; 
	font-size: 30pt; 
	font-weight: 100; 
	color: white; 
	text-align: left; 
}

h1{ 
	font-family: "Roboto Mono", sans-serif; 
	color:rgba(254,192,0,1.00); 
}
p{ 
	font-family: "Roboto", sans-serif; 
	letter-spacing: 1px; 
}
a{
	letter-spacing: 1px; 
}

.underline{
	margin-top: -5px; 
	width: 180px; 
	border-top: solid 10px rgba(253,106,89,1.00);  
}
/*navbar------------------------*/ 
.desktop-navbar{
	display:flex;
	z-index: 2;
	position: relative;
	filter: saturate(130%)
}

@-moz-document url-prefix() {
.desktop-navbar{ 
	filter: saturate(80%); 
	}} 
.desktop-navbar-logo{ 
margin: 10px 0 0 20px;}
.navbar { 
	margin: 0 0 0 20px; 
	width: 800px; 
	padding-top: 0;	
}

.navbar li{ 
display: inline-block; 
margin: 0 20px;
padding-top: 30px; 

position: relative;

}

.navbar a{ 
text-decoration: none; 
font-family:"Roboto", sans-serif; 
color: white; 
}

.navbar a::before{ 
	content: '';
  display: block;
  height: 5px;
  background-color:rgba(253,106,89,1.00);
	width: 0%;
	position: absolute; 
	top: 10px; 
}

.navbar a:hover{ 
color:rgba(253,106,89,1.00); 
}

.navbar a:hover::before{ 
	width: 100%;
	transition: all ease-in-out 250ms; 
}

/*mobile-navbar menu--------------*/ 
.mobile-navbar{ 
	position: fixed; 
	z-index: 10; 
	width: 100%;
	top: 0; 
	display: none; 
	filter: saturate(130%); 	
}

@-moz-document url-prefix() {
.mobile-navbar{ 
	filter: saturate(80%); 
	}} 
.mobile-navbar-stripe{
	background-color: black; 
}
.hamburger-menu{ 
	padding: 10px 0 8px 12px; 
}

.mobile-navbar img{ 
	position: absolute; 
	top: 0; 
	left: 50%; 
	margin-left: -32.5px; 
}

.mobile-navbar-stripe a{ 
	position: absolute; 
	top: 0; 
	right: 0; 
	padding: 12px 10px 0 0; 
}

.menu-list{ 
	background-color: rgba(0,0,0,0.85); 
	height: 100vh; 
	display: none; 
}
.menu-list .close-icon{ 
	padding: 10px 0 8px 12px;
}
.menu-list ul li a{ 
	font-size: 16pt; 
	width: 100%; 
	margin:10px 0 10px 20px; 
	text-decoration: none; 
	font-family:"Roboto", sans-serif; 
	color: white; 
	display: block; 
}

.menu-list a:hover { 
	background-color: rgba(253,106,89,1.00);
}
	

/* hero-section-------------------*/ 
.hero-section-svg{ 
position: absolute; 
z-index: 2; 
right: 0;
top: 0; 
}

#Path_1{ 
	fill: #FEC000; 
	
}
.hero-section-svg img { 
position: absolute; 
left: 60px;
	top: 50%; 
	margin-top: -125px; 
	border: 5px dashed red; 
	border-radius: 50%;
	padding: 10px; 
/*	animation-name: butter-chicken-bowl; 
	animation-duration: 30s; 
	animation-iteration-count: infinite; 
	animation-direction: normal; 
	animation-timing-function: linear;*/ 
}



@keyframes butter-chicken-bowl{ 
	0%{ transform: rotate(0deg)}
	100%{transform: rotate(360deg)}
}


.hero-section{ 
	width: 100%; 
	height: 767px;
background: rgb(46,46,61);
background: linear-gradient(90deg, rgba(46,46,61,1) 0%, rgba(22,22,22,1) 100%);
	position: absolute;
	top: 0; 
	z-index: 1;
	filter: saturate(120%); 
}
@-moz-document url-prefix() {
.hero-section{ 
	filter: saturate(80%); 
	}} 

.hero-section-bowl{ 
}
.hero-section-text-area{ 
	margin: 0 0 0 40px; 
	display: flex; 
	align-items: center; 
	width: 60%; 
	height: 100%; 
	
}

.hero-section-text h2{ 
	color: rgba(191,191,191,1.00); 
	font-weight: 900; 
	font-size: 60pt; 
	margin: 10px 0 -10px 0; 
}

.hero-buttons{ 
	margin-top: 20px;
	display: flex; 
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	z-index: 10; 
	
}
.hero-buttons a{
	background-color: rgba(253,106,89,1.00); 
	font-family: 'Roboto Regular', sans-serif; 
	font-weight: 900; 
	padding: 15px 0; 
	width: 200px;
	display:block; 
	text-align: center; 
	margin:5px 10px;
	border-radius: 20px; 
	color: white; 
	text-decoration: none; 
	position: relative; 
	z-index: 4; 
}
.hero-buttons a:hover{ 
		background-color: rgba(251,56,33,1.00);
}
.hero-buttons a:nth-child(2){ 
	background-color:rgba(254,192,0,1.00); 
}

.hero-buttons a:hover:nth-child(2){ 
	background-color:rgba(254,157,0,1.00); 
}


/*-------USP-------------------------------*/ 
#usp{
	margin-top: 685px;
	background-color:rgba(255,229,144,1.00); 
	filter: saturate(120%); 
}
@-moz-document url-prefix() {
#usp{ 
	filter: saturate(100%); 
	}} 

.usp-grid{ 
	padding: 200px 0; 
	display: grid; 
	grid-template-columns: repeat(3, 300px); 
	grid-column-gap: 80px; 
	grid-row-gap: 80px; 
	justify-content: center; 
}

.usp-element p,h4{ 
	margin: 5px 0; 
	text-align: center;
}

.usp-element img{ 
	display: block; 
	margin: 0 auto; 
}
/*spiciness-------------*/ 
.spiceness{ 
	background: rgb(46,46,61);
background: linear-gradient(90deg, rgba(46,46,61,1) 0%, rgba(22,22,22,1) 100%);
	position: relative; 
	z-index: -10; 
	text-align: center; 
	color: rgba(254,192,0,1.00);
	padding: 100px 0; 
}

.spice-flex{ 
	margin-top: 50px; 
	width: 100%; 
	display: flex; 
	justify-content: center; 
	flex-wrap: wrap; 
}
.spiceMild, .spiceMedium, .spiceHot{ 
 position: relative; 
	padding: 100px 0 100px 0; 
	width: 300px;
	z-index: -3;
	margin-bottom: 20px; 
}

#counter{
    position: absolute;
    top:50%;
    left: 50%;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 9;
}

#circle1, #circleMedium, #circleHot{
    height: 165px;
    width: 165px;
    background-color:#FFE281;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
}
#shadowring, #shadowringMedium, #shadowringHot{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    box-shadow: 0 0 6px #FF1B00;
    position: absolute;
    top: 50%;
    left: 50%;
	
    transform: translate(-50%,-50%);
    z-index: 99;
}
#circle2, #circleMedium2, #circleHot2{
    height: 196px;
    width: 196px;
    background-color:#FFB5AC;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
}
#counterMedium{
    position: absolute;
    top:50%;
    left: 50%;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 9;
}

#counterHot{
    position: absolute;
    top:50%;
    left: 50%;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 9;
}

/*-Specials------------------------------*/ 
#specials{ 
background-color: black; 
background: rgb(46,46,61);
background: linear-gradient(90deg, rgba(46,46,61,1) 0%, rgba(22,22,22,1) 100%);
	position: relative; 
z-index: -2; 
 filter: saturate(120%); 
}
@-moz-document url-prefix() {
#specials{ 
	filter: saturate(100%); 
	}} 
.background-decoration{ 
	-moz-transform: rotate(90.3deg);
	-webkit-transform: rotate(90.3deg);
	transform: rotate(90.3deg);
	position: absolute; 
	top: -175px; 
	left: -503px; 
	z-index: -1; 
	
}
.background-decoration2{ 
	-moz-transform: rotate(90.3deg);
	-webkit-transform: rotate(90.3deg);
	transform: rotate(90.3deg);
	position: absolute; 
	top: -175px; 
	left: 152px; 
	z-index: -1; 
}

.special-grid{ 
	margin: 0 auto; 
	width: 650px; 
	position: relative;
	display: grid; 
	grid-template-columns: 300px 300px; 
	grid-gap: 50px; 
	grid-template-rows: 400px 400px; 
	justify-content: center; 
	padding: 100px 0; 
}
.special-grid h2{ 
	position: absolute; 
	background-color: rgba(253,106,89,1.00); 
	color: white; 
	padding: 20px; 
	top: 50%; 
	left: 50%; 
	margin-left: -190px; 
	margin-top: -60px; 
	z-index: 2; 
}
.special-box{ 
	background-color: rgba(255,229,144,1.00); 
	position: relative; 
}

.special-box h3{ 
	text-align: center; 
	margin: 50px 0 20px 0; 
}
.flex-svg{ 
	display: grid; 
	grid-template-columns: repeat( auto-fit, minmax(60px, 60px) );
	justify-content: center; 
	grid-column-gap: 10px; 
	padding: 0 0 10px 0; 
}

.special-box p{
	position: absolute; 
	top: 110px; 
	left: 100px; 

}
.special-box h4{ 
	text-align: left; 
	margin: 0 0 0 20px; 
	font-size: 17pt; 
}

.special-box ul li{ 
	margin: 5px 0 0 35px; 
	font-family: "Roboto Regular", sans-serif;
	letter-spacing: 1px; 
	line-height: 20px; 
}

/* family combo------------*/ 
#menu-and-combo { 
	padding: 100px 0; 
	background: rgb(46,46,61);
background: linear-gradient(90deg, rgba(46,46,61,1) 0%, rgba(22,22,22,1) 100%);
	filter: saturate(120%); 
}
@-moz-document url-prefix() {
#menu-and-combo{ 
	filter: saturate(100%); 
}} 

.family-combo-grid{ 
	display: grid; 
	grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(16,30px); 
		

}
.family-background{
	background-color: rgba(255,229,144,1.00); 
	grid-column: 1 / 41; 
	grid-row: 2 / 16; 
	

}
.family-combo-text{ 
	grid-column: 25 / 41; 
	grid-row: 2 / 16; 
	z-index: 2; 	
}

.family-combo-img{ 
	grid-column: 2 / 24;
	grid-row: 1 / 17; 
	z-index: 1; 
}
.family-combo-img img{ 
	object-fit: cover; 
}

.family-combo-text  h3{ 
	text-align: left; 
	margin-top: 30px; 
}

.family-combo-text h4{ 
	text-align: left; 
	font-size: 17pt; 
	letter-spacing: 1px; 
}

.family-combo-text ul li{ 
	margin: 5px 0 0 20px; 
	font-family: "Roboto Regular", sans-serif;
	letter-spacing: 1px; 
	line-height: 20px; 
}

/*menu-------------*/ 

#menu h2{ 
	padding-top: 100px;
	color: rgba(254,192,0,1.00); 
	text-align: center; 
}

.menu-stamp{ 
	display: flex; 
	justify-content: center; 
	flex-wrap: wrap; 
	padding: 50px 0; 
}


/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
	border-radius: 50%; 
	margin: 0 20px; 
}
.flip-box a { 
	background-color: rgba(255,229,144,1.00); 
	font-family: 'Roboto Regular', sans-serif; 
	font-weight: 900; 
	padding: 15px 0; 
	width: 200px;
	display:block; 
	text-align: center; 
	margin: -15px auto 0 auto;
	border-radius: 20px; 
	color:rgba(120,120,120,1.00); 
	text-decoration: none; 
	position: relative; 
	top: 50%; 
	z-index: 4; 
}
.flip-box  a:hover{
	background-color: rgba(254,192,0,1.00); 
	color: white;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back-takeaway, .flip-box-back-lunch, .flip-box-back-dine {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  color: black;
	background-repeat: no-repeat; 
	width: 300px; 
	height: 300px;
}
/* Style the back side */
.flip-box-back-takeaway {
  background-image: url("photos/catering-400.jpg"); 
  color: white;
-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
	border-radius: 50%; 
}
.flip-box-back-lunch{ 
	 background-image: url("photos/spices-background-400.jpg"); 
  color: white;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
	border-radius: 50%;
	background-size: cover; 
	
}

.flip-box-back-dine{ 
	 background-image: url("photos/tandoori-chicken.jpg");
  color: white;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
	border-radius: 50%;
	background-size: cover; 
}
/*tandoori-section------------*/ 
.tandoori-section{ 
	display: grid; 
	grid-template-columns: 1fr; 
	grid-template-rows: repeat(32, 31px); 
	filter: saturate(120%); 

}
@-moz-document url-prefix() {
.tandoori-section{ 
	filter: saturate(100%);
	}} 
.tandoor-background{ 
	background-image: url("photos/tandoori-background.jpg"); 
	z-index: 1; 
	width: 100%; 
	height: 120vh; 
	background-attachment: fixed; 
	background-position: bottom; 
	
}
 
.tandoori-details{

	z-index: 2; 
	margin-top: -200px; 
	padding: 100px 0; 
	display: grid; 
	grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(20, 50px); 
	filter: saturate(120%); 
}

.tandoori-details picture:nth-child(1){ 
		grid-column:  25/38;
	grid-row: 1/11; 
	max-width: 500px;
	min-width: 350px;  
}
.tandoori-details picture:nth-child(2){ 
	grid-column: 1/27; 
	grid-row: 10/20; 
	z-index: 1; 
}

.tandoori-details-text{ 
 	 grid-column: 4/24;
	grid-row: 4/9;
}

.tandoori-details-text p{ 
margin-top: 10px; }

.chicken-tikka-text{ 
	 grid-column: 4/24;
	grid-row: 4/9; 
}
/*Eggless naan section-----------*/ 
.eggless-naan-section{
	display: grid; 
	grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(20, 50px); 
	filter: saturate(120%); 
	padding: 30px 0; 
}
@-moz-document url-prefix() {
.eggless-naan-section{ 
	filter: saturate(100%); 
	}} 
.eggless-naan-section picture:nth-child(1){ 
	grid-column: 4/16; 
	grid-row: 1/11; 
	max-width: 500px;
	min-width: 350px; 
}

.eggless-naan-section  picture:nth-child(2){ 
	grid-column: 14/41; 
	grid-row: 10/20; 
	z-index: 1; 
}
.eggless-naan-text .underline{ 
margin-top: 10px; 
}
.eggless-naan-text{ 
	 grid-column: 20/38;
	grid-row: 4/9; 
}
.eggless-naan-text p{ 
	margin-top: 10px; 
}

/*celebrate any occasion*/ 

.celebrate-section{
	padding: 30px 0; 
	display: grid; 
	grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(20, 50px); 
	filter: saturate(120%); 
}

@-moz-document url-prefix() {
.celebrate-section{ 
	filter: saturate(100%); 
	}} 

.celebrate-section picture:nth-child(1){ 
	grid-column:  25/38;
	grid-row: 1/11; 
	max-width: 500px;
	min-width: 350px; 
}

.celebrate-section  picture:nth-child(2){ 
	grid-column: 1/27; 
	grid-row: 10/20; 
	z-index: 1; 
}

.celebrate-text{ 
	 grid-column: 4/24;
	grid-row: 4/9; 
}
.celebrate-text p{ 
	margin-top: 10px; 
}


/*catering section----------------*/ 
.catering-section{
	padding: 30px 0; 
	display: grid; 
	grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(20, 50px); 
	filter: saturate(120%); 
}

@-moz-document url-prefix() {
.catering-section{ 
	filter: saturate(100%); 
	}} 

.catering-section picture:nth-child(1){ 
	grid-column: 4/16; 
	grid-row: 1/11; 
	max-width: 500px;
	min-width: 350px; 
}

.catering-section  picture:nth-child(2){ 
	grid-column: 14/41; 
	grid-row: 10/20; 
	z-index: 1; 
}
.catering-text{ 
	 grid-column: 20/38;
	grid-row: 4/9; 
}
.catering-text p{ 
	margin-top: 10px; 
}


/*about-us-section---------------*/ 
.about-us-parallax{ 
	background-image: url("photos/about-us-parallax.jpg"); 
	background-attachment: fixed; 
	width: 100%; 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center; 
	position: relative; 
	padding: 400px 0; 
	z-index: -2; 
}
.about-us-foreground{ 
background-color: rgba(0,0,0,0.7); 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index: -1; 
}
.about-us-parallax p{ 
	color: white; 
	font-size: 20pt; 
	font-weight: 100; 
	font-family: "Roboto Regular", sans-serif; 
	text-align: center; 
	width: 70%; 
	margin: 0 auto; 
	max-width: 900px; 
}
#about-us{ 
	padding: 100px 0 0 0; 
	display: grid; 
	grid-template-columns: repeat(20,1fr); 
	grid-template-rows: repeat(20,50px); 
	filter: saturate(120%); 
}

@-moz-document url-prefix() {
#about-us{ 
	filter: saturate(100%); 
	}} 

#about-us picture { 
	grid-column: 2/12; 
	grid-row: 1/21; 
	
}

.about-us-text {
	grid-column: 13/20; 
	grid-row: 10/21;
}

.about-us-text p{ 
	position: relative; 
	left: 20px; 
}
 .about-us-paragraph::before{ 
	content: ""; 
	border-left: solid 10px rgba(253,106,89,1.00); 
	height: 100%; 
	left: -20px; 
	position: absolute; 
}

/*reserve a table---------------*/ 
#reservation{ 
	display: grid; 
	grid-template-columns: repeat(20/1fr); 
	grid-template-rows: repeat (20/50px); 
	filter: saturate(120%); 
}

@-moz-document url-prefix() {
#reservation{ 
	filter: saturate(100%); 
	}} 

#reservation picture{
	grid-column: 1/21; 
	grid-row: 1/21;
}
.reservation-form{ 
	z-index: 10; 
	padding: 50px 0px 50px 50px; 

	grid-column: 14/21; 
	grid-row: 10/15; 
	background-color:rgba(255,229,144,1.00);  
}

form{ 
	margin-top: 10px; 
	width: 250px; 
	z-index: 10;
}
input{ 
	width: 250px; 
	height: 35px; 
	border-radius: 7px; 
	border: none; 
	display: block; 
}

input[type="date"], input[type="time"]{ 
	width: 117px; 
}

label{ 
	display: inline-block; 
	margin-top: 15px; 
	margin-bottom: 3px;
	font-family: "Roboto Regular", sans-serif; 
	font-size: 14pt;
	font-weight: 600; 
}

button{ 
	background-color:rgba(253,106,89,1.00);
	padding: 10px 70px; 
	border-radius: 20px; 
	border: none; 
	display: block; 
	margin: 10px auto 0 auto; 
	font-size: 14pt; 
	font-family: "Roboto Regular", sans-serif; }
button:hover{ 
	background-color: rgba(251,56,33,1.00); 
}
.form-grid{ 
	width: 200px; 
	display: grid; 
	grid-template-columns: repeat(20,1fr); 
}

.form-grid div:nth-child(1){ 
	grid-column: 1/11; 
	width:100px; 
}
.form-grid div:nth-child(2){ 
	grid-column: 14/21; 
}

form p{ 
	color: rgba(252,51,28,1.00); 
	margin-top: 5px; 
}



/*review section---------------*/ 
#review-section{ 
	padding: 150px 0; 
	filter: saturate(120%); 
}

@-moz-document url-prefix() {
#review-section{ 
	filter: saturate(100%); 
	}} 



.reviews{ 
	margin: 0 auto; 
	width: 70%; 
	background-color: rgba(255,229,144,1.00); 
	padding: 40px; 
	text-align: center; 
	box-shadow: 15px 15px 5px 0px #B5B5B5; 
}

.reviews .underline{ 
	display: block; 
	margin: 0 auto; 
}

.review-text{ 
	margin: -40px 0 0 0; 
	display: grid; 
	grid-template-columns: 1fr 9fr 1fr; 
	grid-template-rows:  200px; 
	justify-content:center; 
	align-items: center; 	
}

#review-paragraph{ 
	font-style: italic;
	font-size: 14pt; 
}

#review-paragraph span{ 
	display: block; 
	text-align: right; 
	margin-top: 10px; 
	font-family: "Roboto Black", sans-serif; 
	font-weight: 900; 
	font-size: 16pt;
	font-style: normal; 
	
}

#review-second-svg{
	transform: rotate(180deg);
}

.arrow rect{ 
	stroke: #fd6a59;
}

.arrow .Path_198{ 
	stroke:  #fd6a59;
}

.arrow:hover rect{ 
 fill: #fd6a59;
}
.arrow:hover .Path_198{ 
	stroke: #ffffff;
}

/*footer--------------*/ 


.footer{ 
	background: rgb(46,46,61);
background: linear-gradient(90deg, rgba(46,46,61,1) 0%, rgba(22,22,22,1) 100%);
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: center; 
	padding:0px 0 50px 0; 
	filter: saturate(120%); 
}
@-moz-document url-prefix() {
.footer{ 
	filter: saturate(100%); 
	}} 

.footer > div{ 
	margin-top: 50px; 
	width: 350px; 
}

.footer h6{ 
	font-style:normal; 
	font-size: 25pt; 
}

.opening-hours p{ 
	color: white; 
}

.contact div{ 
	margin-top: 15px; 
}
.contact div a{ 
	position: relative; 
	color: white; 
	font-family: "Roboto", sans-serif; 
	letter-spacing: 1px; 
	text-decoration: none;
	padding-left: 35px; 
}

.contact div a:hover{ 
	color: rgba(254,192,0,1.00); 
}
.contact div a svg{ 
	position: absolute; 
	left: 2px; 
	bottom: 1px;
}

/*icon stying*/ 
.st0{ 
 fill: #FD6A59; 
}
.st0:hover{ 
	fill:#FDC200;
}

/*copyright-----------------*/ 
.copyright{ 
background-color:black;
padding: 7px 0; }

.copyright p{ 
color: white; 
	text-align: center; 
}

.copyright a{
text-decoration: none; 
color: white; 
}
.copyright a:hover{ 
	color: rgba(254,192,0,1.00); 
}

/*mobile call to action buttons*/ 
.mobile-call-to-action{ 
	z-index: 100;
	position: fixed; 
	bottom: 0; 
	text-decoration: none; 
	color: white; 
	background-color: rgba(205,33,31,1.00); 
	width: 100%; 
	display: none;
	text-align: center; 
	padding: 10px 0; 
	font-family: Roboto-Regular, "sans-serif"; 
}
/*back to home------------*/ 
.back-to-home{ 
	position: fixed; 
	bottom: 20px; 
	right: 20px; 

}
