@charset "UTF-8";
/* CSS Document */
body{ 
overflow-x: hidden;
filter: saturate(130%); 
}

@-moz-document url-prefix() {
body{ 
	filter: saturate(80%); 
}
}
*{ 
margin: 0; 
padding: 0; 
}

h2{ 
	font-family: "Roboto Black", sans-serif; 
	font-size: 60pt; 
	letter-spacing: 1px; 
}
h3{ 
	font-family: 'Roboto Light', sans-serif; 
	font-size: 50pt; 
	font-weight: 100; 
}

h4 { 
	font-family: 'Roboto Black', sans-serif; 
	letter-spacing: 1px; 
	font-weight: 900;
}

h6{ 
	font-family: "Roboto Regular", sans-serif;
	font-style: italic; 
	font-size: 30pt; 
	font-weight: 100; 
	color: white; 
	text-align: left; 
}

h1{ 
	font-family: "Roboto Mono", sans-serif; 
	color:rgba(254,192,0,1.00); 
}
p{ 
	font-family: "Roboto", sans-serif; 
	letter-spacing: 1px; 
}
a{
	letter-spacing: 1px; 
}

.underline{
	margin-top: -5px; 
	width: 180px; 
	border-top: solid 10px rgba(253,106,89,1.00);  
}
/*navbar------------------------*/ 
.desktop-navbar{
	display: flex;
	z-index: 2;
	position: relative;
}
.desktop-navbar-logo{ 
margin: 10px 0 0 20px;}
.navbar { 
	margin: 0 0 0 20px; 
	width: 800px; 
	padding-top: 0;	
}

.navbar li{ 
display: inline-block; 
margin: 0 20px;
padding-top: 30px; 

position: relative;

}

.navbar a{ 
text-decoration: none; 
font-family:"Roboto", sans-serif; 
color: white; 
}

.navbar a::before{ 
	content: '';
  display: block;
  height: 5px;
  background-color:rgba(253,106,89,1.00);
	width: 0%;
	position: absolute; 
	top: 10px; 
}

.navbar a:hover{ 
color:rgba(253,106,89,1.00); 
}

.navbar a:hover::before{ 
	width: 100%;
	transition: all ease-in-out 250ms; 
}

/* hero-section-------------------*/ 
.hero-section-svg{ 
position: absolute; 
z-index: 2; 
right: 0;
top: 0; 
}
.hero-section-svg img { 
position: absolute; 
left: 60px;
	top: 50%; 
	margin-top: -125px; 
	border: 5px dashed red; 
	border-radius: 50%;
	padding: 10px; 
}


.hero-section{ 
	width: 100%; 
	height: 767px;
background: rgb(46,46,61);
background: linear-gradient(90deg, rgba(46,46,61,1) 0%, rgba(22,22,22,1) 100%);
	position: absolute;
	top: 0; 
	z-index: 1;
}

.hero-section-bowl{ 
}
.hero-section-text-area{ 
	margin: 0 0 0 40px; 
	display: flex; 
	align-items: center; 
	width: 60%; 
	height: 100%; 
	
}

.hero-section-text h2{ 
	color: rgba(191,191,191,1.00); 
	font-weight: 900; 
	font-size: 60pt; 
	margin: 10px 0 -10px 0; 
}

.hero-buttons{ 
	margin-top: 20px;
	display: flex; 
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	z-index: 10; 
	
}
.hero-buttons a{
	background-color: rgba(253,106,89,1.00); 
	font-family: 'Roboto Regular', sans-serif; 
	font-weight: 900; 
	padding: 15px 0; 
	width: 200px;
	display:block; 
	text-align: center; 
	margin:5px 10px;
	border-radius: 20px; 
	color: white; 
	text-decoration: none; 
	position: relative; 
	z-index: 4; 
}
.hero-buttons a:nth-child(2){ 
	background-color:rgba(254,192,0,1.00); 
}

/*-------USP-------------------------------*/ 
#usp{
	margin-top: 685px;
	background-color:rgba(255,229,144,1.00); 
}

.usp-grid{ 
	padding: 200px 0; 
	display: grid; 
	grid-template-columns: repeat(3, 300px); 
	grid-column-gap: 80px; 
	grid-row-gap: 80px; 
	justify-content: center; 
}

.usp-element p,h4{ 
	margin: 5px 0; 
	text-align: center;
}

.usp-element img{ 
	display: block; 
	margin: 0 auto; 
}

/*-Specials------------------------------*/ 
#specials{ 
background-color: black; 
background: rgb(46,46,61);
background: linear-gradient(90deg, rgba(46,46,61,1) 0%, rgba(22,22,22,1) 100%);
	position: relative; 
z-index: -2; 
	 
}

.background-decoration{ 
	transform: rotate(90.3deg);
	position: absolute; 
	top: -175px; 
	left: -503px; 
	z-index: -1; 
	
}
.background-decoration2{ 
	transform: rotate(90.3deg);
	position: absolute; 
	top: -175px; 
	left: 152px; 
	z-index: -1; 
	
}

.special-grid{ 
	margin: 0 auto; 
	width: 650px; 
	position: relative;
	display: grid; 
	grid-template-columns: 300px 300px; 
	grid-gap: 50px; 
	grid-template-rows: 400px 400px; 
	justify-content: center; 
	padding: 100px 0; 
}
.special-grid h2{ 
	position: absolute; 
	background-color: rgba(253,106,89,1.00); 
	color: white; 
	padding: 20px; 
	top: 50%; 
	left: 50%; 
	margin-left: -190px; 
	margin-top: -60px; 
	z-index: 2; 
	

}


.special-box{ 
	background-color: rgba(255,229,144,1.00); 
	position: relative; 
}

.special-box h3{ 
	text-align: center; 
	margin: 50px 0 20px 0; 
}
.flex-svg{ 
	display: grid; 
	grid-template-columns: repeat( auto-fit, minmax(60px, 60px) );
	justify-content: center; 
	grid-column-gap: 10px; 
	padding: 0 0 10px 0; 
}

.special-box p{
	position: absolute; 
	top: 110px; 
	left: 100px; 

}
.special-box h4{ 
	text-align: left; 
	margin: 0 0 0 20px; 
	font-size: 17pt; 
}

.special-box ul li{ 
	margin: 5px 0 0 35px; 
	font-family: "Roboto Regular", sans-serif;
	letter-spacing: 1px; 
	line-height: 20px; 
}

/* family combo------------*/ 
.family-combo { 
	padding: 100px 0; 
	background: rgb(46,46,61);
background: linear-gradient(90deg, rgba(46,46,61,1) 0%, rgba(22,22,22,1) 100%);
}

.family-combo-grid{ 
	display: grid; 
	grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(16,30px); 
		

}
.family-background{
	background-color: rgba(255,229,144,1.00); 
	grid-column: 1 / 41; 
	grid-row: 2 / 16; 
	

}
.family-combo-text{ 
	grid-column: 25 / 41; 
	grid-row: 2 / 16; 
	z-index: 2; 	
}

.family-combo-img{ 
	grid-column: 2 / 24;
	grid-row: 1 / 17; 
	z-index: 1; 
}
.family-combo-img img{ 
	object-fit: cover; 
}

.family-combo-text  h3{ 
	text-align: left; 
	margin-top: 30px; 
}

.family-combo-text h4{ 
	text-align: left; 
	font-size: 17pt; 
	letter-spacing: 1px; 
}

.family-combo-text ul li{ 
	margin: 5px 0 0 20px; 
	font-family: "Roboto Regular", sans-serif;
	letter-spacing: 1px; 
	line-height: 20px; 
}

/*tandoori-section------------*/ 
.tandoori-section{ 
	background-color: rgba(254,247,237,1.00); 
	display: grid; 
	grid-template-columns: 1fr; 
	grid-template-rows: repeat(32, 50px); 
}
.tandoor-background img{ 
	object-fit:cover;
}

.tandoori-details{
	grid-row: 12/21; 
	display: grid; 
	grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(20, 50px); 
	
}

.tandoori-details picture:nth-child(1){ 
	grid-column: 4/16; 
	grid-row: 1/11; 
	z-index: 3;
	max-width: 500px;
	min-width: 350px; 
}
.tandoori-details picture:nth-child(2){ 
	grid-column: 14/41; 
	grid-row: 12/21; 
}

.tandoori-details-text{ 
 grid-column: 20/38;
	grid-row: 4/9; 
}

.tandoori-details-text p{ 
margin-top: 10px; }

.chicken-tikka-text{ 
	grid-column: 4/14; 
	grid-row: 15/21; 
}

/*second tandoori section----------------------------------*/ 
.second-tandoori-section{ 
	background-color: rgba(254,247,237,1.00); 
	height: 850px; 
}
.second-tandoori{ 
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(350px, 700px));
	justify-content: center; 
	grid-column-gap: 40px; 
	grid-row-gap: 20px; 
	height: 600px; 
}

.second-tandoori div{ 
	border: solid 5px red; 
}
.second-tandoori img{ 
	object-fit: cover; 
}

.second-tandoori h3{ 
	width: 100%; 
	text-align: center; 
	padding-top: 20px;
}

/*Eggless naan section-----------*/ 
.eggless-naan-section{
	background-color: rgba(254,247,237,1.00); 
	display: grid; 
	grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(20, 50px); 
}

.eggless-naan-section picture:nth-child(1){ 
	grid-column: 4/16; 
	grid-row: 1/11; 
	max-width: 500px;
	min-width: 350px; 
}

.eggless-naan-section  picture:nth-child(2){ 
	grid-column: 14/41; 
	grid-row: 10/20; 
	z-index: 1; 
}
.eggless-naan-text .underline{ 
margin-top: 10px; 
}
.eggless-naan-text{ 
	 grid-column: 20/38;
	grid-row: 4/9; 
}
.eggless-naan-text p{ 
	margin-top: 10px; 
}

/*celebrate any occasion*/ 

.celebrate-section{
	padding: 100px 0; 
	background-color: rgba(254,247,237,1.00); 
	display: grid; 
	grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(20, 50px); 
}

.celebrate-section picture:nth-child(1){ 
	grid-column:  25/38;
	grid-row: 1/11; 
	max-width: 500px;
	min-width: 350px; 
}

.celebrate-section  picture:nth-child(2){ 
	grid-column: 1/27; 
	grid-row: 10/20; 
	z-index: 1; 
}

.celebrate-text{ 
	 grid-column: 4/24;
	grid-row: 4/9; 
}
.celebrate-text p{ 
	margin-top: 10px; 
}

/*catering section----------------*/ 
.catering-section{
	background-color: rgba(254,247,237,1.00); 
	display: grid; 
	grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(20, 50px); 
}

.catering-section picture:nth-child(1){ 
	grid-column: 4/16; 
	grid-row: 1/11; 
	max-width: 500px;
	min-width: 350px; 
}

.catering-section  picture:nth-child(2){ 
	grid-column: 14/41; 
	grid-row: 10/20; 
	z-index: 1; 
}
.catering-text .underline{ 
margin-top: 10px; 
}
.catering-text{ 
	 grid-column: 20/38;
	grid-row: 4/9; 
}
.catering-text p{ 
	margin-top: 10px; 
}

/*about-us-section---------------*/ 
#about-us{ 
	padding: 100px 0 0 0; 
	background-color: rgba(254,247,237,1.00); 
	display: grid; 
	grid-template-columns: repeat(20,1fr); 
	grid-template-rows: repeat(20,50px); 
}

#about-us picture { 
	grid-column: 2/12; 
	grid-row: 1/21; 
}
.about-us-text {
	grid-column: 13/20; 
	grid-row: 10/21;
}

.about-us-text p{ 
	position: relative; 
	left: 20px; 
}
.about-us-text p::before{ 
	content: ""; 
	border-left: solid 10px rgba(253,106,89,1.00); 
	height: 100%; 
	left: -20px; 
	position: absolute; 
}

/*reserve a table---------------*/ 
#reservation{ 
	display: grid; 
	grid-template-columns: repeat(20/1fr); 
	grid-template-rows: repeat (20/50px); 
}

#reservation picture{
	grid-column: 1/21; 
	grid-row: 1/21; 
}
.reservation-form{ 
	padding: 50px 50px 50px 50px; 
	grid-column: 14/21; 
	grid-row: 10/10; 
	background-color:rgba(255,229,144,1.00);  
}

form{ 
	margin-top: 10px; 
}
input{ 
	width: 200px; 
	height: 30px; 
	border-radius: 7px; 
	border: none; 
	display: block; 
}

input[type="date"]{ 
	margin-top: 30px; 
	display: inline-block; 
 	width: 100px; 
}
input[type="time"]{ 
	margin-top: 
	width: 100px; 
	display: inline-block; 
	
}
label{ 
	display: inline-block; 
	margin-top: 10px; 
	font-family: "Roboto Regular", sans-serif; 
}




button{ 
	background-color:rgba(253,106,89,1.00);
	padding: 10px 40px; 
	border-radius: 20px; 
	border: none; 
	margin-top: 10px auto 0 auto; 
}

